body header {
  height: 655px;
  position: relative;
  color: #fff;
  padding: 50px 250px 0 275px;
  background-color: #000;
  overflow: hidden; }
  body header .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    body header .nav-header .logo-link {
      font-size: 20px;
      color: #69e44d;
      text-decoration: none; }
    body header .nav-header .nav-menu {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      body header .nav-header .nav-menu li a {
        margin-right: 40px;
        color: #fff;
        text-decoration: none;
        cursor: pointer; }
        body header .nav-header .nav-menu li a:hover {
          color: #69e44d; }
  body header .header-title {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body header .header-title .wrapp-header-title {
      z-index: 1; }
      body header .header-title .wrapp-header-title p {
        font-size: 30px; }
      body header .header-title .wrapp-header-title h1 {
        font-size: 90px;
        margin: 25px 0 40px 0; }
      body header .header-title .wrapp-header-title .but-getStarted {
        height: 60px;
        width: 195px;
        font-size: 18px;
        color: #fff;
        background-color: #69e44d;
        border: none;
        border-radius: 10px;
        cursor: pointer; }
        body header .header-title .wrapp-header-title .but-getStarted:hover {
          opacity: 0.9; }
  body header .circle-bg-header {
    bottom: -184px;
    right: 200px;
    border: 110px solid #202020; }

body .circle-bg {
  width: 495px;
  height: 495px;
  position: absolute;
  border: 110px solid #202020;
  border-radius: 50%; }

body .conent-text {
  margin-bottom: 40px;
  padding-left: 140px; }

body .info-products-container {
  position: relative;
  overflow: hidden;
  padding: 160px 250px 0 275px;
  color: #4a4a4a; }
  body .info-products-container .block-product {
    margin-bottom: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    body .info-products-container .block-product .block-product-load .product-title {
      margin-bottom: 70px;
      font-size: 60px;
      color: #69e44d; }
      body .info-products-container .block-product .block-product-load .product-title .color-text {
        color: #000;
        font-size: 30px; }
    body .info-products-container .block-product .block-product-load .link-load {
      color: #4a4a4a;
      text-decoration: none; }
    body .info-products-container .block-product .block-product-load .buttons-load a img {
      height: 50px;
      width: 150px; }
    body .info-products-container .block-product .block-product-phone {
      z-index: 1; }
      body .info-products-container .block-product .block-product-phone .phone {
        height: 560px;
        width: 260px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-image: url(../img/phone.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 5; }
  body .info-products-container div:nth-child(2), body .info-products-container div:nth-child(3) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse;
    flex-flow: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    body .info-products-container div:nth-child(2) .link-load, body .info-products-container div:nth-child(3) .link-load {
      font-weight: bold;
      color: #000; }
  body .info-products-container div:nth-child(3) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  body .info-products-container .block-circles-bg div:nth-child(1) {
    left: -500px;
    top: 0;
    border-color: #EDFCEA; }
  body .info-products-container .block-circles-bg div:nth-child(2) {
    right: -100px;
    top: -200px;
    border-color: #F7F7F7; }
  body .info-products-container .block-circles-bg div:nth-child(3) {
    right: -400px;
    top: 50%;
    border-color: #F7F7F7; }
  body .info-products-container .block-circles-bg div:nth-child(4) {
    left: 100px;
    bottom: -400px;
    border-color: #EDFCEA; }

body .video-container {
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000; }
  body .video-container .button-play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer; }
    body .video-container .button-play:hover {
      background-color: #4a4a4a; }
  body .video-container .none {
    display: none; }
  body .video-container .title-video {
    display: block;
    margin-top: 30px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase; }

body footer {
  position: relative;
  padding: 80px 250px 0 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden; }
  body footer .circle-bg {
    position: absolute;
    right: -500px;
    bottom: -300px;
    border-color: #EDFCEA; }
  body footer #grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 10% 50% 30%;
    grid-template-columns: 10% 10% 50% 30%;
    grid-column-gap: 20px;
    grid-row-gap: 80px;
    z-index: 1; }
  body footer .copyright {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 2/1/2/5;
    margin-bottom: 100px; }
  body footer .email {
    display: block;
    margin: 40px 0 20px 0;
    color: #3ac323;
    text-decoration: none; }
  body footer .media-icons img {
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    -webkit-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s; }
    body footer .media-icons img:hover {
      border-color: #ccc; }
  body footer h2 {
    margin-bottom: 40px;
    font-size: 20px; }
  body footer p {
    line-height: 20px;
    color: #908f8f; }
