$padding: 0 250px 0 275px;
body {
    header {
        height: 655px;
        position: relative;
        color: #fff;
        padding: 50px 250px 0 275px;
        background-color: #000;
        overflow: hidden;
        .nav-header {
            display: flex;
            justify-content: space-between;
            .logo-link {
                font-size: 20px;
                color: #69e44d;
                text-decoration: none;
            }
            .nav-menu {
                display: inline-flex;
                li a {
                    margin-right: 40px;
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover {
                        color: #69e44d;
                    }
                }
            }
        }
        .header-title {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .wrapp-header-title {
                z-index: 1;
                p  {
                    font-size: 30px;
                }
                h1 {
                    font-size: 90px;
                    margin: 25px 0 40px 0;
                }
                .but-getStarted {
                    height: 60px;
                    width: 195px;
                    font-size: 18px;
                    color: #fff;
                    background-color: #69e44d;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
        .circle-bg-header {
            bottom: -184px;
            right: 200px;
            border: 110px solid #202020;
        }
    }
    .circle-bg {
        width: 495px;
        height: 495px;
        position: absolute;
        border: 110px solid #202020;
        border-radius: 50%; 
    }
    .conent-text {
        margin-bottom: 40px;
        padding-left: 140px;
    }
    .info-products-container {
        position: relative;
        overflow: hidden;
        padding: 160px 250px 0 275px;
        color: #4a4a4a;
        .block-product {
            margin-bottom: 120px;
            display: flex;
            justify-content: space-around;
            .block-product-load {
                .product-title {
                    margin-bottom: 70px;
                    font-size: 60px;
                    color: #69e44d;
                    .color-text {
                        color: #000;
                        font-size: 30px;
                    }
                }
                .link-load {
                    color: #4a4a4a;
                    text-decoration: none;
                }
                .buttons-load {
                    & a img {
                        height: 50px;
                        width: 150px;
                    }
                }
            }
            .block-product-phone {
                z-index: 1;
                .phone {
                    height: 560px;
                    width: 260px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-image: url(../img/phone.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: 5;
                }
            }
        }
        & div:nth-child(2),& div:nth-child(3) {
            flex-flow: row-reverse;
            align-items: center;
            .link-load {
                font-weight: bold;
                color: #000;
            }
        }
        & div:nth-child(3) {
            justify-content: center;
        }
        .block-circles-bg {
            & div:nth-child(1) {
                left: -500px;
                top: 0;
                border-color: #EDFCEA;
            }
            & div:nth-child(2) {
                right: -100px;
                top: -200px;
                border-color: #F7F7F7;
            }
            & div:nth-child(3) {
                right: -400px;
                top: 50%;
                border-color: #F7F7F7;
            }
            & div:nth-child(4) {
                left: 100px;
                bottom: -400px;
                border-color: #EDFCEA;
            }
        }
    }
    .video-container {
        height: 670px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #000;
        .button-play {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130px;
            height: 130px;
            border: 1px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                background-color: #4a4a4a;
            }
        }
        .none {
            display: none;
        }
        .title-video {
            display: block;
            margin-top: 30px;
            font-size: 14px;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
    footer {
        position: relative;
        padding: 80px 250px 0 275px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        .circle-bg {
            position: absolute;
            right: -500px;
            bottom: -300px;
            border-color: #EDFCEA;
        }
        #grid {
            width: 100%;
            display: grid;
            grid-template-columns: 10% 10% 50% 30%;
            grid-column-gap: 20px;
            grid-row-gap: 80px;
            z-index: 1;
        }
        .copyright {
            grid-area: 2/1/2/5;
            margin-bottom: 100px;
        }
        .email {
            display: block;
            margin: 40px 0 20px 0;
            color: #3ac323;
            text-decoration: none;
        }
        .media-icons img {
            height: 20px;
            width: 20px;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 50%;
            transition: border 0.5s;
            &:hover {
                border-color:#ccc;
                
            }
        }   
        h2 {
            margin-bottom: 40px;
            font-size: 20px;
        }
        p {
            line-height: 20px;
            color: #908f8f;
        }
    }
}